.doctor-schedule-container {
    height: 100%;
    .all-schedule {
        color: #666;
        text-transform: uppercase;
        font-weight: bold;
        padding: 15px;
        margin: 0;
        select {
            background: transparent;
            border: none;
            color: #337ab7;
            border-bottom: 1px solid #999;
            border-radius: 0;
            font-weight: bold;
            padding: 3px;
        }
    }
    .all-available-time {
        padding-left: 15px;
        .text-calender {
            i {
                margin-right: 10px;
            }
            span {
                text-transform: uppercase;
                font-size: 14px;
                color: #333;
                font-weight: 600;
                padding: 0;
                margin: 0 0 5px 0;
            }
        }
        .time-container {

            .time-container-btn {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;

                .time-item {
                    min-width: 22%;
                    border: none;
                    outline: none;
                    background-color: #fff04b;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 10px 15px;
                    &:hover {
                        color: #fff;
                        background-color: #337ab7;
                    }
                }
                .time-warning {
                    color: #ee2929;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
            .book-free{
                margin-top: 10px;
                i{
                    padding: 0 5px;
                }
            }
        }
    }
}
