.profile-doctor {
    .intro-doctor {
        display: flex;
        width: 100%;
        .content-left {
            background-color: #fff;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content-right {
            width: 70%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up {
                font-weight: 600;
            }
            .down {
                padding-top: 10px;
                font-size: 14px;
                text-align: justify;
            }
        }
    }
    .view-detail-doctor {
        cursor: pointer;
        margin-top: 10px;

        .btn-view-detail-doctor {
            color: #49bce5;
            text-decoration: none;
            font-size: 15px;
            padding-left: 20px;
            &:hover {
                color: #11242b;
            }
        }
    }
    .price {
        margin-top: 15px;
        display: flex;
        gap: 10px;
        font-size: 14px;
        font-weight: 600;
    }
}
