.section-HealthHandBook {
    background: #f5f5f5;

    .section-body {
        .section-item {
            .bg-img {
                background-image: url("../../../assets/images/HealthHandBook/kham-mat-q7.jpg");
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }
        }
    }
}