.section-specialty {
    background: #fff;

    .section-body {
        .section-item {

            .bg-img {
                // background-image: url("../../../assets/images/specialty/co-xuong-khop.jpg");
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
            }
        }
    }
}
